*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
  }
  
  
  /* body{
    min-height: 90vh;
  }
   */
  .homeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .HImg1{
    width: 1110px;
    min-height: 600px;
    background-image: url(../images/homepage/desktop/image-homepage-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  
  .intro{
    width: 400px;
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .intro h1{
    font-size: 40px;
  }
  
  .intro a{
    display: inline-block;
    font-size: 20px;
    background-color: #203A4C;
    width: 200px;
    height: 48px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
<<<<<<< HEAD
    /* border: 1px solid black; */
=======
    border: 1px solid black;
>>>>>>> 482dc41308f524c09880c07cfe9c7dd766ce862a
  }
  
  .arrowDown{
    display: inline-block;
    width: 48px;
    height: 18px;
    background-image: url(../images/icons/down-arrows.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
