/* 1015 * 500
540 * 500
475 * 500 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projectsBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
}


.projectContainer{
    max-width: 1015px;
    max-height: 500px;
    width: 95%;
    height: 100%;
    display: flex;
    margin: 10% 0;
    border: 1px solid;
}

.projectImg{
    max-width: 540px;
    max-height: 500px;
    width: 54%;
    height:100%;
}

.projectDescription{
    max-width: 375px;
    max-height: 500px;
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* .one{
    margin: 0 0 0 10%;
}

.two{
    margin: 0 10% 0 0
} */


.projectDescription a{
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid;
}

.projectDescription a:hover{
    background-color: black;
    color: white;
}


@media (max-width: 518px){

    .projectContainer{
        max-height: unset;
        height: unset;
    }

    .one{
        flex-direction: column;
    }

    .two{
        flex-direction: column-reverse;
    }

    .projectImg{
        width: 100%;
    }


    .projectDescription{
        /* width: 100%; */
        height: unset;
        max-width: unset;
        width: 100%;
    }

    .projectDescription a{
        border: none;
        border-top-style: solid;
        border-top-width: 1px;
    }

    .projectDescription a:hover{
        background-color: unset;
        color: unset;
    }

    .projectDescription a:active{
        background-color: black;
        color: white;
    }
}