/* 1015 * 500
540 * 500
475 * 500 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projectsBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
}


.projectContainer{
    max-width: 1015px;
    max-height: 500px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
    transition: all 0.4s ease-in;
}

/* .projectContainer:hover{
    transform: scale(1.1);
} */

.projectImg{
    width: 54%;
}

.projectDescription{
    max-width: 375px;
    max-height: 500px;
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* .one{
    margin: 0 0 0 10%;
}

.two{
    margin: 0 10% 0 0
} */


.projectDescription p{
    margin: 5% 0;
}

.type{
    color: violet;
}

.used{
    margin: 2.5% 0 5% 0;
    color: violet;
}


.projectDescription a{
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 2px solid;
    width: 50%;
    text-align: center;
    transition: all 0.4s ease-in;
}

.projectDescription a:hover{
    background-color: #5FB4A2;
    color: black;
    border-radius: 20px;
}


@media (max-width: 518px){

    .projectContainer{
        max-height: unset;
        height: unset;
    }

    .projectContainer:hover{
        transform: unset;
    }

    .one{
        flex-direction: column;
    }

    .two{
        flex-direction: column-reverse;
    }

    .projectImg{
        width: 100%;
    }


    .projectDescription{
        /* width: 100%; */
        height: unset;
        max-width: unset;
        width: 100%;
    }

    .projectDescription a{
        border: none;
        border-top-style: solid;
        border-top-width: 1px;
    }

    .projectDescription a:hover{
        background-color: unset;
        color: unset;
        border-radius: unset;
    }

    .projectDescription a:active{
        background-color: black;
        color: white;
    }
}