/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
  background-color: black;
  color: white;
} */

header{
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links{
  margin: 0 20px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.nav-links:hover{
  text-decoration: underline;
  transform: scale(1.05);
}


footer{
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


footer img{
  display: block;
}

.socialsDiv{
  width: 305.64px;
  display: flex;
  justify-content: center;
}

.socials{
  margin: 0 20px;
}
/* img{
  width: 100px;
  height: 100px;
} */


@media (max-width: 988px){


  header{
    flex-direction: column;
  }

  .another-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav{
    width: 100%;
  }

  ul{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-links{
    border:1px solid;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: unset;
  }

  .nav-links:hover{
    transform: unset;
    text-decoration: none;
  }

  .even{
    border: none;
    border-right: 1px solid;
    border-left: 1px solid;
  
  }

  menu
  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 1px solid;
  z-index: 1;
  }

  .burger
  {
  width:20px;
  height: 3px;
  background: black;
  transition: all .5s ease-in-out;
  border-radius: 20px
  }

  .burger::before,
  .burger::after
  {
  content: "";
  position:absolute;
  width:20px;
  height: 3px;
  background: black;
  transition: all .5s ease-in-out;
  border-radius: 20px
  }


  .burger::before
  {
  transform: translateY(-9px)
  }

  .burger::after
  {
  transform: translateY(9px)
  }

  .menu.open .burger
  {
  transform: translateX(-50px);
  background: transparent;
  box-shadow:none
  }

  .menu.open .burger::before
  {
  transform: rotate(45deg) translate(35px,-35px);
  }

  .menu.open .burger::after
  {
  transform: rotate(-45deg) translate(35px, 35px);
  }



}